@import "../../assets/scss/variables";
@import "../../assets/scss/mixin";

.admin {
  background: #e5e5e5;
  padding: 56px;
  @media screen and (max-width: 992px) {
    padding: 20px;
  }

  h1 {
    @include display-small-bold;
  }

  .card-panel {
    background: white;
    border-radius: 8px;
    padding: 40px 30px;

    .card-movies {
      background: white;
      border: 2px solid $lineColor;
      box-sizing: border-box;
      border-radius: 8px;
      padding: 22px;
      @media screen and (max-width: 992px) {
        width: 70%;
        margin-right: auto;
        margin-left: auto;
      }

      .upload-file {
        cursor: pointer;
        input[type="file"] {
          display: none;
          &:checked + .image-file {
            background: #fcfdfe;
            box-shadow: 0px 8px 16px rgba(17, 17, 17, 0.08);
          }
        }
        .image-file {
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 8px;
          img {
            object-fit: cover;
            width: 150px;
            height: 250px;
            border-radius: 4px;
          }
        }
      }
    }

    label {
      input[type="checkbox"] {
        display: none;
        &:checked + .cinema {
          background: #fcfdfe;
          box-shadow: 0px 8px 16px rgba(17, 17, 17, 0.08);
          border: 1px solid $primaryColor;
        }
      }
      .cinema {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px;
        border-radius: 8px;
        img {
          width: 60px;
        }
      }
    }

    .css-yk16xz-control {
      padding: 4px 4px;
      border: 1px solid $lineColor;
    }
  }

  .card-sales-card {
    background-color: white;
    padding: 32px 40px 32px 40px;
    border-radius: 8px;
    margin-top: 24px;
    margin-bottom: 40px;

    .link {
      font-size: 18px;
      color: #14142b;
      text-decoration: none;
    }
    .active {
      position: relative;
      &::before {
        position: absolute;
        content: "";
        width: 100%;
        height: 2px;
        bottom: -35px;
        background-color: $primaryColor;
      }
    }
  }
}
